- page_title _('Geo Designs')
- @content_class = "geo-admin-container"

#js-geo-designs{ data: { "geo-svg-path" => image_path('illustrations/gitlab_geo.svg'),
  "geo-troubleshooting-link" => help_page_path('administration/geo/replication/troubleshooting.html'),
  "design-management-link" => help_page_path('user/project/issues/design_management.html'),
  "designs-enabled" => Feature.enabled?(:enable_geo_design_sync) && Feature.enabled?(:enable_geo_design_view) } }
